
<div class="add-product">
<h1>Add New Product</h1>
<form #addProduct = "ngForm" (ngSubmit)="submit(addProduct.value)" class="common-form">
    <input class="form-input" ngModel name="name" placeholder="Enter Name">
    <input class="form-input" ngModel name="price" type="text" placeholder="Enter Price">
    <input class="form-input" ngModel name="color" type="text" placeholder="Enter Product color">
    <input class="form-input" ngModel name="category" type="text" placeholder="Enter Product Category">
    <textarea class="form-input" ngModel name="description" type = "text" placeholder="Enter Description"></textarea>
    <input class="form-input" ngModel name="image" type="text" placeholder="Enter Image URL">
    <button class="form-button"> Add Product</button> 
</form>
</div>