<div class="seller-auth">
    <div class="sign-up">
        <h1>Seller Sign-Up</h1>
        <form #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value )" class="common-form">
            <input class="form-input" ngModel name="name" placeholder="Enter Name">
            <input class="form-input" ngModel name="password" type="password" placeholder="Enter password">
            <input class="form-input" ngModel name="email" type="text" placeholder="Enter email">
            <button class="form-button">Signup</button>
        </form>     
    </div>
</div>